

<div class="container box">
    <div class="flexslider ">
        <!-- Slides -->
        <ul class="slides">
          {{#each fotos}}
            <li>
              <img src="{{imageURL}}" alt="" class="borde" >
            </li>
          {{/each}}
        </ul>
    </div>
    <div class="custom-navigation">
      <a href="#" class="flex-prev">Prev</a>
      <div class="custom-controls-container"></div>
      <a href="#" class="flex-next">Next</a>
  </div>
</div>